$backgroundOnLight: #fff;
$colorOnLight: #212121;

$backgroundOnDark: #212121;
$colorOnDark: #ccc;

$accentColor: #1e88e5;

@mixin whiteColor {
	color: #fff;

	@media (prefers-color-scheme: dark) {
		color: #ddd;
	}
}
